.container-footer {
    background-color: rgb(235, 235, 235);
    //background-color: rgb(255, 195, 83); // Màu nền của footer
    height: 320px;

    .second-footer {
        .cover-footer {
            background-color: rgb(235, 235, 235);
            display: flex;

            .left-footer {
                width: 35%;
                padding-top: 40px;
                padding-left: 60px;

                .footer-logo {
                    .logo {
                        height: 250%;
                        width: 250%;
                        background-size: contain; // Đảm bảo logo không bị kéo méo
                    }

                    img {
                        width: 30%;
                        height: 30%;
                        font-size: 10px;
                    }
                }

                .text-page {
                    width: 350px;
                    text-align: justify;
                    font-weight: 500;
                }

                .icon-page {
                    display: flex;
                    list-style: none;
                    font-weight: 500px;

                    li {
                        display: flex;
                        margin-right: 15px; // Khoảng cách giữa các icon
                        background-color: white;
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        align-items: center;
                        justify-content: space-between;
                        // box-shadow: inset -6px -6px -8px #232323, inset 6px 6px 8px #8a8a8a;

                        a {
                            color: black; // Màu chữ
                            text-decoration: none; // Loại bỏ gạch chân
                            font-size: 20px;

                            i {
                                padding-left: 8px;
                                align-items: center;
                            }

                            &:hover {
                                color: orange;
                            }
                        }
                    }

                }
            }

            .right-footer {
                justify-content: space-between;
                margin: 20px 0;

                .cover-right-footer {
                    display: flex;
                    padding-top: 40px;
                }

                .footer-table-thongtin,
                .footer-table-lienket,
                .footer-table-congty {
                    li {
                        list-style: none;
                        padding-top: 10px;
                    }

                    a {
                        color: black;
                        text-decoration: none;

                        &:hover {
                            color: orange;
                        }
                    }

                    padding: 0 30px;
                    font-weight: 500;

                    .h3-title {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}