.user-container {
    height: 500px;
    color: black;
    margin-top: 60px;

    .user-background {
        height: 100%;

        .user-type {
            height: 100%;

            .user-header {
                height: 50px;
                border: 1px solid red;
                color: black;
                text-align: left;
                padding: 10px;
            }

            .user-body {
                display: flex;
                height: 400px;

                .left-menu-user {
                    width: 20%;
                    border: 2px solid green;


                    .option-menu-user {
                        padding: 10px;

                    }

                    li {
                        text-align: center;
                    }
                }

                .user-function {
                    width: 80%;
                    border: 2px solid rgb(30, 0, 128);

                    table#customers {
                        font-family: Arial, Helvetica, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }

                    #customers td,
                    #customers th {
                        border: 1px solid #ddd;
                        padding: 5px;
                    }

                    #customers tr:nth-child(even) {
                        background-color: #f2f2f2;
                    }

                    #customers tr:hover {
                        background-color: #ddd;
                    }

                    #customers th {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: left;
                        background-color: #04AA6D;
                        color: white;
                    }

                    .table-order {
                        width: 80%;
                    }
                }
            }
        }
    }
}