.section-specialty {
    height: 650px;
    background: white;
    border: 1px solid white;

    .specialty-container {
        margin: 30px 70px;
        cursor: pointer;

        .edit-font {
            text-align: center;

            .text-font {
                padding-top: 8px;
            }
        }

        .specialty-header {
            padding-top: 2px;
            text-align: center;

            .edit-title {
                font-weight: bold;
                font-size: 30px;
            }
        }
    }
}

//reset slick slider css

.slick-prev {
    left: -13 !important;
    z-index: 1000 !important;
    height: 28px !important;
    width: 30px !important;
    background: #fff !important;
    border: 1px solid #d7d7d7 !important;
    border-radius: 15px;


    &:hover {
        background: #d7d7d7 !important;
    }
}

.slick-prev::before,
.slick-next::before {
    font-family: FontAwesome !important;
    color: black !important;

}

.slick-next {
    right: 33 !important;
    z-index: 1000 !important;
    height: 28px !important;
    width: 30px !important;
    background: #fff !important;
    border: 1px solid #d7d7d7 !important;
    border-radius: 15px;

    &:hover {
        background: #d7d7d7 !important;
    }
}

// edit chef
.card {
    width: 17em;
    height: 22.5em;
    background: white;
    //transition: 1s ease-in-out;
    //clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    //border-top-right-radius: 20px;
    //border-bottom-left-radius: 20px;
    display: flex;
    border: none;
    flex-direction: column;
}

.card span {
    font-weight: bold;
    color: black;
    text-align: center;
    display: block;
    font-size: 1em;
}

.card .info {
    font-weight: 400;
    color: black;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
}

.card .img {
    width: 16.8em;
    height: 20.8em;
    border-radius: 15px;
    margin: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px; // Có thể thêm hoặc không, tùy thuộc vào thiết kế của bạn
    }
}

.card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card a {
    color: black;
    transition: .4s ease-in-out;
}

.card a:hover {
    color: red;
}

.card button {
    padding: 0.8em 1.0em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
}

.card button:hover {
    background: orange;
    color: white;
    cursor: pointer;
}