.container {
    background: white;

    .second-container {
        .cv-form {
            display: flex;
            //padding-top: 90px;
            width: 100%;

            .left-form {
                //border: 2px solid red;
                width: 97% !important;
                padding-left: 20px;

                .title-left-sp {
                    padding-top: 10px;
                }

                .cv-table {
                    background-color: #fff;
                    padding: 20px;
                    //border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                    .table-striped {
                        tbody {
                            tr {
                                td {
                                    button {

                                        border: none !important;

                                    }
                                }
                            }
                        }
                    }
                }
            }

            .right-form {
                width: 40%;
                border: 2px solid rgb(0, 0, 0);

                body {
                    font-family: Arial, sans-serif;
                    background-color: #f4f4f4;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100vh;
                }

                form {
                    background-color: #fff;
                    padding: 20px;
                    //border-radius: 8px;
                    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }

                label {
                    display: block;
                    margin-bottom: 8px;
                }

                input {
                    width: 100%;
                    padding: 8px;
                    margin-bottom: 16px;
                    box-sizing: border-box;
                }

                button {
                    background-color: #4caf50;
                    color: white;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: #45a049;
                }
            }
        }
    }
}

.cart-container {
    display: flex;
}

.left-container {
    //border: 2px solid red;
    width: 60% !important;
    padding-top: 60px;
    //padding-left: 20px;
}

.right-container {
    width: 40%;
    //border: 2px solid rgb(0, 0, 0);
    padding-top: 40px;

    h3 {
        text-align: center;
        padding-top: 10px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: center;
        height: 100vh;
    }

    .edit-address-cart {
        display: flex;

        .left-div-address {
            width: 75%;
        }

        .edit-option {
            padding-top: 2px;
            width: 30%;
            padding-left: 15px;

            label {
                font-size: 15px;
            }

            select {
                padding: 11px 10px 11px 10px;
                font-size: 15px;
            }

            select option {
                font-size: 15px;
                /* Kích thước font cho nội dung trong option */
            }
        }
    }

    .btn-cart-option {
        display: flex;
        justify-content: space-around;

        .button-cash {
            button {
                &:hover {
                    background: orange;
                }
            }
        }

        .button-momo {
            button {
                &:hover {
                    background: rgb(105, 168, 255);
                }
            }
        }
    }

    form {
        background-color: #fff;
        padding: 20px;
        //border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 12px;
        box-sizing: border-box;
    }

    button {
        background-color: #4caf50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }
}